// 放index 页面样式使用
// 轮播图区域
.banner {
  height: 500px;
  background-color: #f5f5f5;

  .wrapper {
    position: relative;
    height: 500px;
    // background-image: url(../uploads/banner_1.png);

    .aside {
      position: absolute;
      top: 0;
      left: 0;
      ul {
        width: 251px;
        height: 500px;
        background-color: rgba($color: #000000, $alpha: 0.8);

        a {
          position: relative;
          display: block;
          //   宽和父级一样
          padding-left: 36px;
          padding-right: 19px;
          height: 50px;
          line-height: 50px;
          color: #fff;
          &:hover {
            background-color: #27ba9b;
          }
          span {
            padding-left: 15px;
            font-size: 14px;
            &::after {
              position: absolute;
              top: 19px;
              right: 19px;
              content: "";
              width: 6px;
              height: 11px;
              background-image: url(../images/sprites.png);
              background-position: -80px -110px;
            }
          }
        }
      }
    }

    // 箭头
    .prev,
    .next {
      position: absolute;
      top: 228px;
      width: 45px;
      height: 44px;
      background-color: rgba($color: #000000, $alpha: 0.2);
      background-image: url(../images/sprites.png);
      border-radius: 50%;
    }

    // 背景图位置负责2件事：改变箭头在盒子里的位置；改变精灵图的位置
    // 导致在精灵图中测量的尺寸不准确
    // 解决方向有2种：
    //1.书写背景图位置属性，借助谷歌浏览器调试工具调试具体位置
    //2.书写标签的时候，a负责盒子，里面再加一个span负责箭头
    .prev {
      left: 260px;
      background-position: 14px -60px;
    }

    .next {
      right: 10px;
      background-position: -24px -60px;
    }

    // 圆点
    ol {
      position: absolute;
      left: 680px;
      bottom: 31px;
      height: 10px;

      li {
        float: left;
        margin-right: 24px;
        width: 10px;
        height: 10px;
        background-color: rgba(255, 255, 255, 0.43);
        border-radius: 50%;
        // 改变鼠标样式
        cursor: pointer;
      }

      .current {
        background-color: #ffffff;
      }
    }
  }
}

// 新鲜好物
.goods {
  .hd {
    height: 114px;
    line-height: 114px;

    h2 {
      float: left;
      font-size: 29px;
      font-weight: 400;
      height: 114px;
    }

    span {
      margin-left: 34px;
      font-size: 16px;
      color: #999;
    }
  }

  .bd {
    li {
      position: relative;
      float: left;
      margin-right: 8px;
      &:last-child {
        margin-right: 0;
      }
      text-align: center;
      width: 304px;
      height: 405px;
      background-color: #f0f9f4;

      a {
        img {
          width: 304px;
        }

        h3 {
          margin-top: 20px;
          margin-bottom: 10px;
          font-size: 20px;
          font-weight: 400;
        }

        div {
          font-size: 17px;
          color: #9a2e1f;

          span {
            font-size: 23px;
          }
        }

        p {
          position: absolute;
          top: 18px;
          left: 18px;
          width: 28px;
          height: 51px;
          color: #27ba9b;
          border: 2px solid #27ba9b;
          border-radius: 5px;
        }
      }
    }
  }
}

// 查看全部
.goods .hd a,
.fresh_produce .more,
.clothes_goods .more,
.kitchen_goods .more,
.home_goods .more,
.topic_goods .more {
  float: right;
  color: #999;
  &::after {
    display: inline-block;
    content: "";
    margin-left: 13px;
    width: 7px;
    height: 13px;
    background-image: url(../images/sprites.png);
    background-position: 0 -110px;
    vertical-align: middle;
  }
}

// 人气推荐
.popularity {
  .hd {
    height: 115px;
    line-height: 115px;

    h2 {
      font-weight: 400;
      font-size: 29px;
      color: #333;

      span {
        margin-left: 34px;
        font-size: 16px;
        color: #999;
      }
    }
  }

  .bd {
    li {
      float: left;
      margin-right: 8px;
      width: 304px;
      height: 405px;
      &:last-child {
        margin-right: 0;
      }

      a {
        display: inline-block;
        width: 304px;
        height: 405px;
        text-align: center;

        img {
          width: 304px;
          height: 305px;
        }

        h3 {
          padding-top: 20px;
          font-size: 21px;
          font-weight: 400;
          color: #333;
        }

        span {
          padding-top: 15px;
          color: #999;
        }
      }
    }
  }
}

// 热门品牌
.popular {
  height: 466px;
  background-color: #f5f5f5;

  .hd {
    height: 115px;
    line-height: 115px;

    h3 {
      float: left;
      font-size: 29px;
      font-weight: 400;
    }

    p {
      float: left;
      margin-left: 34px;
      color: #999;
    }

    a {
      float: right;
      margin-top: 79px;
      width: 20px;
      height: 20px;
      background-color: #e2e2e2;
      background-image: url(../images/sprites.png);
      &:hover {
        background-color: #27ba9b;
      }
    }

    .left {
      margin-right: 12px;
      background-position: 3px -71px;
    }
    .right {
      margin-right: 3px;
      background-position: -36px -71px;
    }
  }

  .bd {
    background-color: skyblue;

    li {
      float: left;
      margin-right: 4px;
      &:last-child {
        margin-right: 0;
      }

      img {
        width: 244px;
        height: 313px;
      }
    }
  }
}

// 生鲜
.fresh_produce,
.clothes_goods,
.kitchen_goods,
.home_goods {
  .hd {
    height: 96px;
    line-height: 96px;

    h2 {
      float: left;
      font-size: 29px;
      font-weight: 400;
    }

    ul {
      float: right;
      margin-right: 65px;

      li {
        float: left;

        a {
          padding: 2px 7px;
          margin: 0 6px;
          &:hover {
            color: #fefbfc;
            background-color: #27ba9b;
          }
        }
      }
    }
  }

  .bd {
    .left {
      position: relative;
      float: left;
      width: 240px;
      height: 610px;

      .box {
        position: absolute;
        bottom: 197px;
        left: 0;
        width: 189px;
        height: 67px;
        line-height: 67px;
        text-align: center;
        color: #fff;

        .one span {
          float: left;
          width: 76px;
          height: 67px;

          background-color: #000000;
        }

        .two span {
          float: left;
          width: 113px;
          height: 67px;

          background: rgba($color: #000000, $alpha: 0.8);
        }
      }

      img {
        width: 243px;
        height: 610px;
      }
    }

    .right {
      float: right;
      width: 1000px;
      height: 610px;

      li {
        // position: relative;
        float: left;
        margin-left: 8px;
        margin-bottom: 2px;
        a {
          display: inline-block;
          padding-left: 29px;
          width: 240px;
          height: 302px;
          // border: 2px solid #fff;

          &:hover {
            //遮罩缺失
            //   border: 2px solid #27ba9b;
            color: #27ba9b;
          }
        }

        img {
          margin: 8px 0;
          width: 184px;
          height: 184px;
        }

        div {
          padding-bottom: 2px;
          font-size: 17px;
          color: #9a2e1f;

          span {
            font-size: 23px;
          }
        }
      }
    }
  }
}

// 餐厨浮动
.kitchen_goods .bd .left .box .two {
  line-height: 19px;
  span {
    padding-top: 16px;
  }
}

// 最新专题
.topic_goods {
  height: 512px;
  background-color: #f5f5f5;

  .hd {
    height: 115px;
    line-height: 115px;
    h3 {
      float: left;
      font-size: 29px;
      font-weight: 400;
    }
  }

  .bd {
    height: 356px;
  }

  .bd {
    li {
      position: relative;
      float: left;
      margin-right: 11px;
      &:last-child {
        margin-right: 0;
      }

      img {
        width: 406px;
        height: 228px;
      }

      a {
        display: inline-block;
        height: 295px;
        background-color: white;
      }

      .box {
        position: absolute;
        bottom: 67px;
        left: 0;
        width: 406px;
        height: 146px;
        background: linear-gradient(to top, rgba(black, 0.8), rgba(white, 0));

        p {
          position: absolute;
          bottom: 46px;
          left: 15px;
          color: #fff;
        }

        div {
          position: absolute;
          left: 14px;
          bottom: 17px;
          color: #999;
        }

        span {
          position: absolute;
          bottom: 29px;
          right: 15px;
          width: 81px;
          height: 27px;
          background-color: #fff;
          text-align: center;
          color: #9a2e1f;
        }
      }

      .bottom {
        line-height: 68px;

        span::before {
          display: inline-block;
          content: "";
          width: 16px;
          height: 16px;
          vertical-align: middle;
          background-image: url(../images/sprites.png);
        }

        // .browse {
        //   &::before {
        //     background-position: -160px -108px;
        //   }
        // }

        // .red {
        //   margin-right: 27px;
        //   &::before {
        //     margin-left: 17px;
        //     background-position: -240px -108px;
        //   }
        // }

        // .comment {
        //   float: right;
        //   margin-right: 18px;
        //   &::before {
        //     margin-right: 4px;
        //     background-position: -200px -109px;
        //   }
        // }

        .red {
          color: red;
        }

        .right {
          float: right;
          margin-right: 19px;
        }
      }
    }
  }
}

// 服务
.service {
  padding: 79px 0 79px 58px;
  height: 302px;
  text-align: center;
  color: #999;
  font-size: 14px;

  h4 {
    font-weight: 400;
  }

  .customer,
  .about {
    float: left;
    margin-right: 118px;
    width: 192px;
    height: 143px;

    h4 {
      margin-bottom: 30px;
    }

    li {
      a {
        float: left;
        margin-right: 3px;
        float: left;
        padding-top: 15px;
        width: 93px;
        height: 93px;
        border: 1px solid #eee;
        color: #999;
        &:hover {
          color: #27ba9b;
        }
      }

      .size {
        color: #666;
        font-size: 29px;
      }
    }
  }

  .download {
    float: left;
    width: 274px;
    height: 189px;
    border-right: 2px solid #f2f2f2;

    h4 {
      margin-bottom: 24px;
    }

    .left {
      float: left;
      position: relative;
      width: 116px;
      height: 116px;
      border: 2px solid #f3f3f3;

      .size {
        position: absolute;
        top: -20px;
        left: 0;
        font-size: 105px;
        color: #000;
      }
    }

    .right {
      float: right;
      margin-right: 20px;
      width: 116px;
      height: 116px;

      h4 {
        margin-bottom: 8px;
      }

      a {
        display: inline-block;
        margin-top: 40px;
        width: 103px;
        height: 32px;
        text-align: center;
        line-height: 32px;
        color: #999;
        &:hover {
          color: #fff;
          background-color: #27ba9b;
        }
      }
    }
  }

  .phone {
    float: right;
    margin-right: 76px;
    width: 160px;
    height: 122px;

    h4 {
      margin-bottom: 46px;
    }

    span {
      font-size: 22px;
      color: #666;
    }

    p {
      font-size: 15px;
    }
  }
}
