body {
  background-color: #f6f6f6;
}

//左侧导航栏
.left {
  width: 225px;
  // 账户 管理 收藏 帮助中心
  .account,
  .transaction,
  .collect,
  .help {
    padding-top: 35px;
    padding-bottom: 25px;
    margin-bottom: 2px;
    background-color: white;

    ul {
      h3 {
        margin-left: 52px;
      }

      li {
        margin-top: 27px;
        margin-left: 52px;
        &:hover {
          list-style-type: disc;
          color: #27ba9b;
        }

        a {
          display: inline-block;
          width: 225px;
          &:hover {
            color: #27ba9b;
          }
        }
      }
    }
  }

  .help {
    padding-bottom: 71px;
  }
}

//右侧内容
.right {
  float: right;
  width: 996px;

  //个人信息
  .name {
    margin-bottom: 20px;
    height: 132px;
    background-image: url(../uploads/brand_goods_3.jpg);
    background-position: 0 -138px;

    .left {
      height: 132px;
      //头像
      img {
        float: left;
        margin-top: 26px;
        margin-left: 60px;
        width: 85px;
      }

      //用户名
      .user {
        display: inline-block;
        margin-left: 26px;
        line-height: 132px;
        color: #fff;
      }
    }

    .right {
      float: right;
      width: 445px;

      li {
        float: left;
        margin-right: 100px;
        &:last-child {
          margin-right: 53px;
        }
        margin-top: 36px;

        a {
          color: #fff;
        }

        .member,
        .security,
        .security {
          text-align: center;
          font-size: 32px;
        }

        i {
          display: block;
        }
      }
    }
  }

  //我的订单
  .my_order {
    height: 375px;
    background-color: white;

    //标题
    .title {
      padding-left: 12px;
      padding-right: 12px;
      height: 60px;
      line-height: 60px;

      h3 {
        float: left;
        font-weight: 400;
        font-size: 19px;
      }

      a {
        color: #999;
      }
    }

    // 顶部 待付款
    .top {
      .unpaid {
        float: right;
        margin-top: 60px;
        margin-right: 80px;
        font-size: 14px;
        color: #e05e30;
      }
    }

    // 底部 待付款 查看物流
    .bottom {
      .unpaid {
        float: right;
        margin-top: 50px;
        margin-right: 80px;
        font-size: 14px;
        color: #e05e30;
      }
    }

    // 内容
    .top,
    .bottom {
      margin-left: 12px;
      width: 971px;
      height: 136px;
      border: 1px solid #f4f4ff;

      // 介绍
      .introduce {
        float: left;
        height: 136px;
        width: 590px;
        border-right: 1px solid #f4f4f4;

        a {
          img {
            float: left;
            margin: 16px 12px;
            width: 106px;
          }

          p {
            margin-top: 48px;
            float: left;
          }

          .size {
            font-size: 14px;
            color: #999;
          }
        }
      }

      // 价格
      .price {
        float: left;
        width: 198px;
        height: 136px;
        border-right: 1px solid #f4f4f4;

        // 价值
        .value {
          margin-top: 40px;
          color: #e05e30;
        }

        p {
          font-size: 14px;
          text-align: center;
        }
      }

      // 操作
      .operation {
        float: right;
        width: 180px;
        height: 136px;

        li {
          text-align: center;

          a {
            font-size: 14px;

            &:hover {
              color: #27ba9b;
            }
          }

          .pay {
            margin-top: 28px;
            margin-bottom: 15px;
            display: inline-block;
            width: 100px;
            height: 30px;
            line-height: 30px;

            &:hover {
              color: white;
              background-color: #27ba9b;
            }
          }
        }
      }
    }
  }
}
// 服务
// .service {
//   padding: 79px 0 79px 58px;
//   height: 302px;
//   text-align: center;
//   color: #999;
//   font-size: 14px;

//   h4 {
//     font-weight: 400;
//   }

//   .customer,
//   .about {
//     float: left;
//     margin-right: 118px;
//     width: 192px;
//     height: 143px;

//     h4 {
//       margin-bottom: 30px;
//     }

//     li {
//       a {
//         float: left;
//         margin-right: 3px;
//         float: left;
//         padding-top: 15px;
//         width: 93px;
//         height: 93px;
//         border: 1px solid #eee;
//         color: #999;
//         &:hover {
//           color: #27ba9b;
//         }
//       }

//       .size {
//         color: #666;
//         font-size: 29px;
//       }
//     }
//   }

//   .download {
//     float: left;
//     width: 274px;
//     height: 189px;
//     border-right: 2px solid #f2f2f2;

//     h4 {
//       margin-bottom: 24px;
//     }

//     .left {
//       float: left;
//       position: relative;
//       width: 116px;
//       height: 116px;
//       border: 2px solid #f3f3f3;

//       .size {
//         position: absolute;
//         top: -20px;
//         left: 0;
//         font-size: 105px;
//         color: #000;
//       }
//     }

//     .right {
//       float: right;
//       margin-right: 20px;
//       width: 116px;
//       height: 116px;

//       h4 {
//         margin-bottom: 8px;
//       }

//       a {
//         display: inline-block;
//         margin-top: 40px;
//         width: 103px;
//         height: 32px;
//         text-align: center;
//         line-height: 32px;
//         color: #999;
//         &:hover {
//           color: #fff;
//           background-color: #27ba9b;
//         }
//       }
//     }
//   }

//   .phone {
//     float: right;
//     margin-right: 76px;
//     width: 160px;
//     height: 122px;

//     h4 {
//       margin-bottom: 46px;
//     }

//     span {
//       font-size: 22px;
//       color: #666;
//     }

//     p {
//       font-size: 15px;
//     }
//   }
// }
